body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}
/* Typo */
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 50px 0px;
}
.section-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.description-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 70px;
}
.description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.product-name {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 30%;
}
.product-price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 0%;
  color: #2cc72c;
}
.product-txt {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 0%;
}
.rating-txt {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  margin-left: 8px;
}
.footer-txt {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
.footer-copyright {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #d9dbe1;
  text-align: center;
}
/* Header */
header {
  padding: 0px 120px;
}
/* Buttons */
.btn {
  width: 196px;
  height: 44px;
  padding: 10px 24px;
  border-radius: 41px;
  background-color: #2cc72c;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  transition: 0.5s ease;
  margin-top: 20px;
}
.btn:hover {
  background-color: rgb(125, 231, 12);
}
.fa-arrow-circle-right {
  margin-left: 8px;
}
/* Hero section */
.hero {
  display: flex;
  padding: 0px 120px;
}

/* Brand section */
.brands {
  display: flex;
  padding: 0px 165px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;
}
/* Produts section */
.popular-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 196px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product {
  box-sizing: border-box;
  width: 329px;
  height: 476px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
  transition: 0.5s ease;
}
.product:hover {
  transform: scale(110%);
}
.fa-star,
.fa-star-half-alt {
  width: 11.07px;
  height: 11.07px;
  color: #fb8200;
  margin-right: 5px;
}
.rating {
  margin-top: -5px;
  margin-bottom: -5px;
}
.see-more-btn {
  margin-top: 30px;
  float: right;
  padding-right: 20px;
  text-decoration: none;
  color: #2cc72c;
}
.fa-arrow-right {
  margin-left: 8px;
}
/* Footer */
footer {
  margin-top: 100px;
  box-sizing: border-box;
  padding-top: 40px;
  height: 200px;
  width: auto;
  background-color: black;
}
.footer-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color: black;
}
.footer-icon {
  margin-right: 10px;
  color: white;
}
/* Responsive */

/* Extra small devices pot (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    text-align: center;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-left {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: auto;
  }
  .hero-right {
    display: flex;
    justify-content: center;
  }

  .description-heading {
    text-align: center;
    font-size: 25px;
    line-height: 45px;
  }
  .description {
    text-align: center;
    line-height: 25px;
  }
  .brands {
    padding: 0px 130px;
  }
  .brand-logo {
    height: 50px;
    width: 100px;
  }
  .products {
    grid-template-columns: 1fr;
  }
}
/* Medium devices (landscape tablets, 768px to 1080px) */
@media only screen and (min-width: 600px) and (max-width: 1080px) {
  .logo {
    text-align: center;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-left {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: auto;
  }
  .hero-right {
    display: flex;
    justify-content: center;
  }
  .description-heading {
    text-align: center;
    font-size: 25px;
    line-height: 45px;
  }
  .description {
    text-align: center;
    line-height: 25px;
  }
  .brand-logo {
    height: 50px;
    width: 100px;
    padding: 10px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
